In [1]:
import pandas as pd

In [2]:
path1 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/氧气项目0617.xlsx"
path2 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/总表.xlsx"
path3 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/入职日期维护.xlsx"

In [3]:
df1 = pd.read_excel(path1)  # 员工信息表
df2 = pd.read_excel(path2)  # 总表
df3 = pd.read_excel(path3)  # 维护表

In [4]:
def rm_space(s: str):
    """
    Remove space at the begin an the end of the given string, if they exist.

    :param s: the string to be modified
    :return: the modified string

    """
    if not isinstance(s, str):
        return s
    return s.strip()

In [5]:
# 预处理df1
df1 = pd.DataFrame(df1, columns=["二级部门", "部门", "员工号", "岗位名称", "姓名", "入职日期"])

In [6]:
df1.fillna({"二级部门": '-', "部门": '-', "岗位名称": '-', "姓名": '-', "入职日期": '-'}, inplace=True)

In [7]:
df1[["二级部门", "部门", "岗位名称", "姓名", "入职日期"]] \
        = df1[["二级部门", "部门", "岗位名称", "姓名", "入职日期"]].applymap(rm_space)

In [8]:
df1 = df1[df1["岗位名称"].isin(["SPA师", "理疗师", "专家"])]

In [9]:
df1.reset_index(drop=True, inplace=True)

In [10]:
df2.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
0,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,7.0,0.0,0.0,2018-09-01,济南段店店,济南区域,NaT,NaN,NaT
1,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,5.0,0.0,0.0,2018-06-01,济南段店店,济南区域,NaT,NaN,NaT
2,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,30.0,0.0,0.0,2018-07-01,济南段店店,济南区域,NaT,NaN,NaT
3,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,30.0,0.0,0.0,2018-08-01,济南段店店,济南区域,NaT,NaN,NaT
4,181008001.0,杨娜,技术总监,NaN,1.0,0.0,0.0,2018-10-01,济南山东大厦店,济南区域,NaT,NaN,NaT

In [11]:
df2["入职日期"][19]

datetime.datetime(2015, 3, 17, 0, 0)

In [12]:
# 预处理df2
df2 = pd.DataFrame(df2, columns=["工号", "姓名", "岗位", "入职日期", "出勤", "点号合计", "销售业绩", "工资年月", "部门", "区域", "离职时间", "部门YG", "入职日期YG"])
df2.fillna({"姓名": '-', "岗位": '-', "部门": '-', "区域": '-', "入职日期": '-', "工资年月": '-',  "离职时间": '-', "部门YG": '-', "入职日期YG": '-'}, inplace=True)
df2[["姓名", "岗位", "部门", "区域", "部门YG"]] = df2[["姓名", "岗位", "部门", "区域", "部门YG"]].applymap(rm_space)
# df2 = df2[df2["岗位"].isin(["SPA师", "理疗师", "专家"])]
# 由于df2 每个员工包含多个observation，可能这个员工从技师变为其他工种，上面的筛选方法就不对了:取反 ～
not_in_id = df2[~df2["岗位"].isin(["SPA师", "理疗师", "专家"])]["工号"]
df2 = df2[~df2["工号"].isin(not_in_id)]
df2.reset_index(drop=True, inplace=True)

In [13]:
df2[df2["姓名"] == "毕立霞"].head(2)

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
32281,170810002.0,毕立霞,SPA师,2018-11-30 00:00:00,30.0,54.0,4500.00,2019-02-01 00:00:00,嘉兴旭辉广场店,上海区域,-,-,-
32335,170810002.0,毕立霞,SPA师,2018-11-30 00:00:00,24.5,33.0,17979.98,2018-10-01 00:00:00,嘉兴旭辉广场店,上海区域,-,-,-

In [14]:
df_info_id = df1["员工号"].unique()
df_database_id = df2["工号"].unique()
df_2val_id = df3["工号"].unique()

In [15]:
len(df_info_id), len(df_database_id), len(df_2val_id)

(4748, 8338, 0)

In [16]:
df1.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [17]:
df2.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
0,180304016.0,吴金珠,SPA师,-,0.0,0.0,0.0,2018-04-01 00:00:00,济南山东大厦店,济南区域,-,-,-
1,180304016.0,吴金珠,SPA师,-,14.0,3.0,27600.0,2018-03-01 00:00:00,济南山东大厦店,济南区域,-,-,-
2,170419019.0,宋海群,理疗师,2016-12-06 00:00:00,15.0,24.0,10200.0,2018-02-01 00:00:00,天津永安道店,济南区域,-,-,-
3,180822004.0,张开建,专家,2018-08-11 00:00:00,27.0,0.0,0.0,2018-10-01 00:00:00,济南东环店,济南区域,-,-,-
4,180821017.0,朱丽雅,理疗师,2018-08-07 00:00:00,30.0,22.0,0.0,2019-02-01 00:00:00,银川大阅城店,济南区域,2019-04-02 00:00:00,-,-

In [18]:
df3_temp = df3.copy()

In [19]:
# 新员工--df3中未出现的员工
# 先从df1员工信息表中读取信息
new_list = list(set(df_info_id).difference(set(df_2val_id)))  # df_info_id中有而df_2val_id中没有的
len(new_list)

4748

In [20]:
new_from_info = df1[df1["员工号"].isin(new_list)]

In [21]:
new_from_info.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [22]:
new_from_info = new_from_info[["员工号", "姓名", "岗位名称", "二级部门", "部门", "入职日期"]]

In [23]:
new_from_info.head()

         员工号   姓名  岗位名称  二级部门       部门        入职日期
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22

In [24]:
new_from_info = new_from_info.rename(columns={"员工号": "工号", "岗位名称": "当前岗位", "二级部门": "当前区域", 
                                              "部门": "当前部门", "入职日期": "当前职位开始日期"})

In [25]:
new_from_info.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22

In [26]:
# 新员工的“最早加入公司日期”就是“当前职位开始日期”
new_from_info["最早加入公司日期"] = new_from_info["当前职位开始日期"]
new_from_info.insert(7, "离职时间", "-")

In [27]:
df3

Empty DataFrame
Columns: [工号, 姓名, 当前岗位, 当前区域, 当前部门, 当前职位开始日期, 最早加入公司日期, 离职时间]
Index: []

In [28]:
new_from_info.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [29]:
df3 = pd.concat((df3, new_from_info), sort=False)
df3.reset_index(drop=True, inplace=True)

In [30]:
df3.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [31]:
df1.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [32]:
# 对df3中已有的，更新当前职位开始日期
old_list =  list(set(df_2val_id).difference(set(new_list)))
for i in old_list:
    index1 = df3[df3["工号"] == i].index.tolist()[0]
    index2 = df1[df1["员工号"] == i].index.tolist()[0]
    date1 = df3.loc[index1]["当前职位开始日期"]
    date2 = df1.loc[index2]["入职日期"]
    if date1 < date2:  # 原日期date1早于新日期date2时，更新原日期
        date1 = date2

In [33]:
df3.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [34]:
# 再从df2员总表中读取信息, 来更新“最早加入公司日期”
# 先对df2所有员工筛选出最早日期和最晚日期
# 首先，找出df3中缺少的df2员工，他们的”当前职位开始日期“为所有日期最晚，“最早加入公司日期”为所有日期最早
# 然后，对df3中原先有的df2员工，他们的”最早加入公司日期“为所有日期最早，“当前职位开始日期”不变
def to_date(datetime):
    """
    Convert datatime type to string.

    :param datetime: datetime object
    :return: string representation of the date
    """
    if datetime == '-':
        return '-'
    else:
        return str(datetime.date())
    
df2["入职日期"] = df2["入职日期"].apply(to_date)
df2["入职日期YG"] = df2["入职日期YG"].apply(to_date)
df2["离职时间"] = df2["离职时间"].apply(to_date)
df2["工资年月"] = df2["工资年月"].apply(to_date)

In [35]:
df2["最早日期"] = "-"
df2["最晚日期"] = "-"
df2.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG,最早日期,最晚日期
0,180304016.0,吴金珠,SPA师,-,0.0,0.0,0.0,2018-04-01,济南山东大厦店,济南区域,-,-,-,-,-
1,180304016.0,吴金珠,SPA师,-,14.0,3.0,27600.0,2018-03-01,济南山东大厦店,济南区域,-,-,-,-,-
2,170419019.0,宋海群,理疗师,2016-12-06,15.0,24.0,10200.0,2018-02-01,天津永安道店,济南区域,-,-,-,-,-
3,180822004.0,张开建,专家,2018-08-11,27.0,0.0,0.0,2018-10-01,济南东环店,济南区域,-,-,-,-,-
4,180821017.0,朱丽雅,理疗师,2018-08-07,30.0,22.0,0.0,2019-02-01,银川大阅城店,济南区域,2019-04-02,-,-,-,-

In [55]:
date_YG = df2.groupby("工号").apply(lambda x: x.sort_values("入职日期YG"))

In [56]:
date = df2.groupby("工号").apply(lambda x: x.sort_values("入职日期"))

In [58]:
date

                            工号   姓名    岗位        入职日期    出勤   点号合计       销售业绩  \
工号
1703024.0   54215    1703024.0  白社红    专家           -   NaN  175.0  255024.44
            14911    1703024.0  白社红    专家  2015-12-13  30.0  122.0   53900.00
            14731    1703024.0  白社红    专家  2015-12-13  30.0  191.0  185970.03
            14552    1703024.0  白社红    专家  2015-12-13  31.0  155.0   67153.33
            14480    1703024.0  白社红    专家  2015-12-13  30.0  115.0  105160.00
            14397    1703024.0  白社红    专家  2015-12-13  30.0  111.0  216400.10
            14358    1703024.0  白社红    专家  2015-12-13  30.0  118.0  129680.00
            51244    1703024.0  白社红    专家  2015-12-13  30.0  179.0  123873.32
            12201    1703024.0  白社红    专家  2015-12-13  23.0   82.0  115101.00
            13806    1703024.0  白社红    专家  2015-12-13  30.0  128.0  121230.00
            13445    1703024.0  白社红    专家  2015-12-13  10.0   36.0   14920.00
            13315    1703024.0  白社红    专家  2015-12-13   8.0   24.0    1000.00
            12430    1703024.0  白社红    专家  2015-12-13  28.0   62.0   44700.00
            12272    1703024.0  白社红    专家  2015-12-13  30.0  115.0  360113.00
            12241    1703024.0  白社红    专家  2015-12-13  24.0  137.0  137313.33
            13919    1703024.0  白社红    专家  2015-12-13  31.0   98.0  283457.40
            13928    1703024.0  白社红    专家  2015-12-13  30.0  135.0  414483.00
16122101.0  5017    16122101.0  陈新春  SPA师           -   9.0    2.0       0.00
            50573   16122101.0  陈新春  SPA师           -   NaN  113.0   58330.45
            53559   16122101.0  陈新春  SPA师           -   NaN  105.0        NaN
            1920    16122101.0  陈新春  SPA师  2016-11-06  30.0   92.0   75160.00
            2618    16122101.0  陈新春  SPA师  2016-11-06  30.0  104.0   25071.00
            2638    16122101.0  陈新春  SPA师  2016-11-06  22.0   79.0   17709.98
            3161    16122101.0  陈新春  SPA师  2016-11-06  31.0  142.0  140456.24
            4203    16122101.0  陈新春  SPA师  2016-11-06  30.0   93.0   76180.00
            1201    16122101.0  陈新春  SPA师  2016-11-06  28.0   47.0   12280.00
            5183    16122101.0  陈新春  SPA师  2016-11-06  30.0   45.0     890.00
            6155    16122101.0  陈新春  SPA师  2016-11-06  30.0  118.0  105397.00
            6361    16122101.0  陈新春  SPA师  2016-11-06  30.0  104.0   21930.00
            6680    16122101.0  陈新春  SPA师  2016-11-06  30.0   92.0  100950.00
...                        ...  ...   ...         ...   ...    ...        ...
190527016.0 55265  190527016.0  李叶科    专家           -   NaN    0.0       0.00
190527019.0 55122  190527019.0  白巧燕  SPA师           -   NaN    0.0        NaN
190527020.0 53972  190527020.0  曹艳玲    专家           -   NaN    1.0       0.00
190527039.0 55945  190527039.0  王晓芳  SPA师           -   NaN    0.0       0.00
190527040.0 54694  190527040.0   宋丽   理疗师           -   NaN    0.0       0.00
190528008.0 55120  190528008.0  康阳阳  SPA师           -   NaN    0.0        NaN
190528010.0 54713  190528010.0  王风芹   理疗师           -   NaN    0.0       0.00
190528011.0 54697  190528011.0  李雪晴   理疗师           -   NaN    0.0       0.00
190528017.0 53716  190528017.0  张洪波    专家           -   NaN    0.0        NaN
190528020.0 56341  190528020.0  侯爱玲    专家           -  54.0    0.0        NaN
190528021.0 54508  190528021.0  冯芳艳    专家           -   NaN    0.0    3800.00
190529002.0 54696  190529002.0  汪桂华  SPA师           -   NaN    0.0       0.00
190529005.0 54484  190529005.0  李运红    专家           -   NaN    0.0       0.00
190529006.0 56366  190529006.0   姜蓉  SPA师           -  65.0    1.0        NaN
190529008.0 54698  190529008.0  田双美  SPA师           -   NaN    1.0       0.00
190529012.0 56138  190529012.0   王磊   理疗师           -   NaN    3.0       0.00
190529017.0 54479  190529017.0  罗建美   理疗师           -   NaN    0.0       0.00
190529018.0 56144  190529018.0   李纳   理疗师           -   NaN    0.0       0.00
190529022.0 54512  190529022.0   赵军    专家           -   NaN    0.0       0.00
190529024.0 56145  190529024.0  陈试航    专家           -   NaN    0.0       0.00
190530009.0 55742  190530009.0   范妮   理疗师           -   NaN    0.0       0.00
190530012.0 54509  190530012.0  刘喜霞   理疗师           -   NaN    0.0       0.00
190530016.0 54483  190530016.0  唐冬梅    专家           -   NaN    0.0       0.00
190530038.0 53727  190530038.0  毕振华  SPA师           -   NaN    0.0        NaN
190530039.0 55254  190530039.0  秦亚菊  SPA师           -   NaN    0.0       0.00
190531001.0 55128  190531001.0   姬珍   理疗师           -   NaN    0.0        NaN
190531009.0 54701  190531009.0  靳文田   理疗师           -   NaN    0.0       0.00
190531010.0 56135  190531010.0  胡昌玉   理疗师           -   NaN    0.0       0.00
190531023.0 55110  190531023.0  房旭静  SPA师           -   NaN    0.0        NaN
190531024.0 54850  190531024.0   王青   理疗师           -   NaN    0.0       0.00

                         工资年月           部门    区域 离职时间   部门YG      入职日期YG 最早日期  \
工号
1703024.0   54215  2019-05-06    北京区域北京华彩店  北京区域    -  北京华彩店  2018-09-07    -
            14911  2018-08-01        北京华彩店  北京区域    -      -           -    -
            14731  2018-11-01        北京华彩店  北京区域    -      -           -    -
            14552  2019-01-01        北京华彩店  北京区域    -      -           -    -
            14480  2018-04-01        北京华彩店  北京区域    -      -           -    -
            14397  2018-10-01        北京华彩店  北京区域    -      -           -    -
            14358  2018-01-01        北京华彩店  北京区域    -      -           -    -
            51244  2019-04-04    北京区域北京华彩店  北京区域    -  北京华彩店  2018-09-07    -
            12201  2018-07-01        北京华彩店  北京区域    -      -           -    -
            13806  2018-03-01        北京华彩店  北京区域    -      -           -    -
            13445  2018-02-01        北京华彩店  北京区域    -      -           -    -
            13315  2019-02-01        北京华彩店  北京区域    -      -           -    -
            12430  2018-09-01        北京华彩店  北京区域    -      -           -    -
            12272  2018-06-01        北京华彩店  北京区域    -      -           -    -
            12241  2018-12-01        北京华彩店  北京区域    -      -           -    -
            13919  2019-03-29    北京区域北京华彩店  北京区域    -  北京华彩店  2018-09-07    -
            13928  2018-05-01        北京华彩店  北京区域    -      -           -    -
16122101.0  5017   2018-01-01       济南贵宾楼店  济南区域    -      -           -    -
            50573  2019-04-14    济南区域济南和谐店  济南区域    -  济南和谐店  2016-12-21    -
            53559  2019-05-01    济南区域济南和谐店  济南区域    -  济南和谐店  2016-12-21    -
            1920   2018-05-01        济南和谐店  济南区域    -      -           -    -
            2618   2018-07-01        济南和谐店  济南区域    -      -           -    -
            2638   2019-02-01        济南和谐店  济南区域    -      -           -    -
            3161   2019-03-01      济南区域和谐店  济南区域    -  济南和谐店  2016-12-21    -
            4203   2018-03-01        济南和谐店  济南区域    -      -           -    -
            1201   2018-02-01        济南和谐店  济南区域    -      -           -    -
            5183   2018-01-01        济南和谐店  济南区域    -      -           -    -
            6155   2018-11-01        济南和谐店  济南区域    -      -           -    -
            6361   2018-10-01        济南和谐店  济南区域    -      -           -    -
            6680   2018-06-01        济南和谐店  济南区域    -      -           -    -
...                       ...          ...   ...  ...    ...         ...  ...
190527016.0 55265  2019-05-01       南京水西门店  上海区域    -      -           -    -
190527019.0 55122  2019-05-01   华北区域太原杏花岭店  华北区域    -      -           -    -
190527020.0 53972  2019-05-01   青岛区域青岛江西路店  青岛区域    -      -           -    -
190527039.0 55945  2019-05-01  鲁南区域 临清新华路店  鲁南区域    -      -           -    -
190527040.0 54694  2019-05-01  华中区域济宁新世纪广场  华中区域    -      -           -    -
190528008.0 55120  2019-05-01  华北区域石家庄时代方舟  华北区域    -      -           -    -
190528010.0 54713  2019-05-01    华中区域濮阳长庆店  华中区域    -      -           -    -
190528011.0 54697  2019-05-01    华中区域濮阳长庆店  华中区域    -      -           -    -
190528017.0 53716  2019-05-01    济南区域天津鼓楼店  济南区域    -      -           -    -
190528020.0 56341  2019-05-01   华东区域胶南琅琊台店  华东区域    -      -           -    -
190528021.0 54508  2019-05-28   北京区域北京天通苑店  北京区域    -      -           -    -
190529002.0 54696  2019-05-01   华中区域周口体育馆店  华中区域    -      -           -    -
190529005.0 54484  2019-05-01       北京东直门店  北京区域    -      -           -    -
190529006.0 56366  2019-05-01    华东区域黄岛桂冠店  华东区域    -      -           -    -
190529008.0 54698  2019-05-01  华中区域济宁新世纪广场  华中区域    -      -           -    -
190529012.0 56138  2019-05-25   烟威区域威海海滨路店  烟威区域    -      -           -    -
190529017.0 54479  2019-05-01      秦皇岛珠江道店  北京区域    -      -           -    -
190529018.0 56144  2019-05-18  烟威区域威海青岛中路店  烟威区域    -      -           -    -
190529022.0 54512  2019-05-01       廊坊永兴路店  北京区域    -      -           -    -
190529024.0 56145  2019-05-29  烟威区域潍坊东风东街店  烟威区域    -      -           -    -
190530009.0 55742  2019-05-01  中原区域 郑州纬四路店  中原区域    -      -           -    -
190530012.0 54509  2019-05-01       北京华贸城店  北京区域    -      -           -    -
190530016.0 54483  2019-06-07   北京区域北京西三环店  北京区域    -      -           -    -
190530038.0 53727  2019-05-01    济南区域济南银丰店  济南区域    -      -           -    -
190530039.0 55254  2019-05-01       南通人民路店  上海区域    -      -           -    -
190531001.0 55128  2019-05-01  华北区域保定乐凯大街店  华北区域    -      -           -    -
190531009.0 54701  2019-05-01    华中区域濮阳长庆店  华中区域    -      -           -    -
190531010.0 56135  2019-05-29   烟威区域烟台贵宾楼店  烟威区域    -      -           -    -
190531023.0 55110  2019-05-01   华北区域太原杏花岭店  华北区域    -      -           -    -
190531024.0 54850  2019-05-01   鲁中区域衡水永兴路店  鲁中区域    -      -           -    -

                  最晚日期
工号
1703024.0   54215    -
            14911    -
            14731    -
            14552    -
            14480    -
            14397    -
            14358    -
            51244    -
            12201    -
            13806    -
            13445    -
            13315    -
            12430    -
            12272    -
            12241    -
            13919    -
            13928    -
16122101.0  5017     -
            50573    -
            53559    -
            1920     -
            2618     -
            2638     -
            3161     -
            4203     -
            1201     -
            5183     -
            6155     -
            6361     -
            6680     -
...                ...
190527016.0 55265    -
190527019.0 55122    -
190527020.0 53972    -
190527039.0 55945    -
190527040.0 54694    -
190528008.0 55120    -
190528010.0 54713    -
190528011.0 54697    -
190528017.0 53716    -
190528020.0 56341    -
190528021.0 54508    -
190529002.0 54696    -
190529005.0 54484    -
190529006.0 56366    -
190529008.0 54698    -
190529012.0 56138    -
190529017.0 54479    -
190529018.0 56144    -
190529022.0 54512    -
190529024.0 56145    -
190530009.0 55742    -
190530012.0 54509    -
190530016.0 54483    -
190530038.0 53727    -
190530039.0 55254    -
190531001.0 55128    -
190531009.0 54701    -
190531010.0 56135    -
190531023.0 55110    -
190531024.0 54850    -

[56368 rows x 15 columns]

In [37]:
for i in df_database_id:
    date_list = date[date["工号"] == i]["入职日期"]
    date_YG_list = date_YT[date_YG["工号"] == i]["入职日期"]
    for d in date_list:
        if d != "-":
            df2[df2["工号"] == i]["最早日期"] = d
            break

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

KeyboardInterrupt:

In [ ]:
df2

In [ ]:
df_2val_id = df3["工号"].unique()
new_list = list(set(df_database_id).difference(set(df_2val_id)))  # df_base_id中有而df_2val_id中没有的
len(new_list)

In [ ]:
new_from_database = df2[df2["工号"].isin(new_list)]

In [ ]:
new_from_database = new_from_database[["工号", "姓名", "岗位", "区域", "部门", "入职日期", "入职日期YG", "离职时间"]]

In [ ]:
new_from_database = new_from_database.rename(columns={"岗位": "当前岗位", "区域": "当前区域", 
                                              "部门": "当前部门", "入职日期": "当前职位开始日期"})

In [ ]:
# 总表中一些技师缺少id，补上
import numpy as np
id_missing = new_from_database[new_from_database["工号"].apply(np.isnan)]

In [ ]:
id_missing.head()

In [ ]:
# 如果姓名、当前区域（大概率在同一个区域，重复名的人在同一个区域的概率会低很多）、当前部门名称（一个姓名会有多个部门，因为换单位了）
# 【未完成】！

In [ ]:
new_from_database.head()

In [ ]:
new_from_database["当前职位开始日期"][0]

In [ ]:
new_from_info_added["当前职位开始日期"][0]

In [ ]:
# datetime.datetime to string
new_from_database["当前职位开始日期"] = new_from_database["当前职位开始日期"].apply(to_date)

In [ ]:
new_from_database.head()

In [ ]:
new_from_info_added.head()

In [ ]:
# 对比每个员工的“当前职位开始日期”和”入职日期YG“，最早的为“最早加入公司日期”
new_from_database.sort_values(by="工号")