In [1]:
import pandas as pd
import datetime
import os

In [2]:
path1 = "/Users/gongchenyin/PycharmProjects/ra/ID-Filter/src/门店分组表.xlsx"
path2 = "/Users/gongchenyin/PycharmProjects/ra/ID-Filter/src/员工信息表.xlsx"

In [3]:
# step 1: excel转换成dataframe
df1 = pd.read_excel(path1)
df2 = pd.read_excel(path2)
df1.fillna('-', inplace = True) # 处理空值
df2.fillna('-', inplace = True)

In [4]:
df2.head()

,一级部门,二级部门,部门,门店编码,姓名,员工号,性别,岗位名称,员工状态,入职日期,离职时间
0,华夏良子事业部,华北区域,保定乐凯大街店,A05A10A04A14,蔡爱梅,171104012,女,采耳师,在职,2019-06-12,-
1,华夏良子事业部,华北区域,保定乐凯大街店,A05A10A04A14,张姚,171107050,男,门店经理,在职,2012-10-02,-
2,华夏良子事业部,华北区域,保定乐凯大街店,A05A10A04A14,张峰,180913022,男,后备干部,在职,2018-09-18,-
3,华夏良子事业部,华北区域,保定乐凯大街店,A05A10A04A14,唐怀秀,180916003,女,SPA师,在职,2019-06-04,-
4,华夏良子事业部,华北区域,保定乐凯大街店,A05A10A04A14,杨乾,180927012,男,理疗师,在职,2018-09-21,-

In [5]:
# 两个df的总行数
df1.shape[0], df2.shape[0]

(160, 7455)

In [6]:
# strip
def rm_space(s):
    s = s.strip()
    return s

In [7]:
# step 2: df1初步操作
df1[["组别", "门店名称", "所属区域"]] = df1[["组别", "门店名称", "所属区域"]].applymap(rm_space)

df11 = df1[df1["组别"] == "同龄人现在"]
df11 = df11[["门店名称", "所属区域"]]
df11.reset_index(drop = True, inplace = True)
df11.iloc[7]["门店名称"] = "呼市海亮店"  # 《门店分组表》不常更新，在此直接改动

In [8]:
df11.head()

     门店名称 所属区域
0  南通人民路店   上海
1   洛阳华庭店   中原
2   深圳益田店   中原
3  北京东直门店   北京
4   北京燕莎店   北京

In [9]:
# 区域个数（非重复）和门店个数
len(df11["所属区域"].unique()), len(df11["门店名称"])

(12, 40)

In [10]:
# step 3: df2初步操作
df2[["二级部门", "部门", "岗位名称", "入职日期"]] = df2[["二级部门", "部门", "岗位名称", "入职日期"]].applymap(rm_space)
df22 = df2[df2["岗位名称"].isin(["SPA师", "理疗师", "专家"])]
df22 = df22[["二级部门", "部门", "员工号", "岗位名称", "入职日期"]]
df22.reset_index(drop = True, inplace = True)

In [11]:
df22.head()

   二级部门       部门        员工号  岗位名称        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  2019-04-22

In [12]:
# step 4a: df2保留选定门店
df22["区域部门"] = df22["二级部门"] + df22["部门"]
df11["区域部门"] = df11["所属区域"] + "区域" + df11["门店名称"]

In [13]:
# step 4b:
df222 = df22[df22["区域部门"].isin(df11["区域部门"])]

In [14]:
len(df222["区域部门"].unique()), len(df11["区域部门"].unique())

(40, 40)

In [15]:
df222.shape[0]

1114

In [16]:
del df222["区域部门"]
df222.reset_index(drop = True, inplace = True)
df222.head()

   二级部门      部门        员工号  岗位名称        入职日期
0  北京区域  北京东直门店  170319004    专家  2017-10-25
1  北京区域  北京东直门店  170319005  SPA师  2019-03-06
2  北京区域  北京东直门店  170319009    专家  2018-09-20
3  北京区域  北京东直门店  170319010    专家  2017-10-25
4  北京区域  北京东直门店  170319014    专家  2019-03-01

In [17]:
# 时间函数
s = datetime.date(2018,1,14)
t = datetime.date.today()
print(t)

2019-06-19

In [18]:
# 返回当前月的前n个月的最后一天，暂未考虑n<=0的情况
def LastDay(today, n):
    first_day = datetime.date(today.year, today.month, 1)
    while n > 0:
        # 前一个月最后一天
        last_day = first_day - datetime.timedelta(days = 1) 
        # 前一个月第一天
        first_day = datetime.date(last_day.year, last_day.month, 1)
        n -= 1
    return last_day

LastDay(t, 13)

datetime.date(2018, 5, 31)

In [19]:
# 返回当前月的前n个月的第一天，暂未考虑n<=0的情况
def FirstDay(today, n):
    # 前n个月的最后一天
    last_day = LastDay(today, n)
    first_day = datetime.date(last_day.year, last_day.month, 1)
    return first_day

FirstDay(t, 12)

datetime.date(2018, 6, 1)

In [20]:
# step 5a: 按“入职日期”划分群体的标准，date类型可以比较
import datetime
def WhichGroup(dateString):
    current = datetime.datetime.strptime(dateString,'%Y-%m-%d').date() # str转date
    today = datetime.date.today()
    if current >= FirstDay(today, 3):
        return 1 
    elif current <= LastDay(today, 4) and current >= FirstDay(today, 6):
        return 2
    elif current <= LastDay(today, 7) and current >= FirstDay(today, 12):
        return 3
    elif current <= LastDay(today, 13):
        return 4
    return 0 # 入职时间为当月的，群体数为0，后续将0群体删除即可

In [21]:
# step 5b: 插入新变量“群体”
df222["群体"] = df222["入职日期"].map(WhichGroup)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
# step 5c: 保留群体1、2、3、4
df2222 = df222[df222["群体"].isin([1, 2, 3, 4])]

In [23]:
df2222.shape[0]

1114

In [24]:
df2222.head()

   二级部门      部门        员工号  岗位名称        入职日期  群体
0  北京区域  北京东直门店  170319004    专家  2017-10-25   4
1  北京区域  北京东直门店  170319005  SPA师  2019-03-06   1
2  北京区域  北京东直门店  170319009    专家  2018-09-20   3
3  北京区域  北京东直门店  170319010    专家  2017-10-25   4
4  北京区域  北京东直门店  170319014    专家  2019-03-01   1

In [25]:
# step 6a: 创建文件夹
def mkdir(path):
    
    # 去除首位空格
    path=path.strip()
 
    # 判断路径是否存在
    # 存在     True
    # 不存在   False
    isExists=os.path.exists(path)
 
    # 判断结果
    if not isExists:
        # 如果不存在则创建目录
        # 创建目录操作函数
        os.makedirs(path) 
 
        print(path + "  " + "创建成功!")
        return
    else:
        # 如果目录存在则不创建，并提示目录已存在
        print(path + "  " + "目录已存在!")
        return

In [26]:
# step 6b: 生成csv
def write_csv(df):
    region = df["二级部门"].unique()
    group = [1, 2, 3, 4]
    groupName = ["0-3组", "4-6组", "7-12组", "12plus"]
    currentPath = os.getcwd() + "/csv-files-" + str(datetime.date.today())
    mkdir(currentPath)
    for r in region:
        dirPath = currentPath + "/" + r
        mkdir(dirPath)
        for g in group:
            csvPath = dirPath + "/" + r + groupName[g-1] + ".csv"
            df[(df["二级部门"] == r) & (df["群体"] == g)][["员工号"]].T.to_csv(csvPath, index = False, header = 0)

In [27]:
write_csv(df2222)

/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/北京区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/鲁北区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/华中区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/鲁南区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/华东区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/鲁中区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/济南区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/烟威区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/中原区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/南方区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/上海区域  创建成功!
/Users/gongchenyin/PycharmProjects/ra/csv-files-2019-06-19/华北区域  创建成功!

In [28]:
# step 7: check