In [1]:
import datetime
import time
import os
import sys
import pandas as pd
import numpy as np

In [2]:
path1 = "/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/5月汇总.xlsx"
path2 = "/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/氧气项目0617.xlsx"
path3 = "/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/总表.xlsx"

In [3]:
# 去除字符串s首尾空格 ？是否可以直接使用strip函数？
def rm_space(s):
    s = s.strip()
    return s

## step 1

In [4]:
df1 = pd.read_excel(path1)  # 上月业绩
df2 = pd.read_excel(path2)  # 员工信息
df3 = pd.read_excel(path3)  # 总表

## step 2

In [5]:
## df1预处理，保留有效变量，删除非技师（SPA师、理疗师、专家）
df1 = pd.DataFrame(df1, columns=["店名", "工号", "岗位", "姓名", "点号合计", "销售业绩"])

In [6]:
df1 = df1[df1["岗位"].isin(["SPA师", "理疗师", "专家"])]

In [7]:
df1.reset_index(drop=True, inplace=True)

In [8]:
# df2预处理，保留有效变量，删除非技师
df2 = pd.DataFrame(df2, columns=["二级部门", "部门", "员工号", "岗位名称", "姓名", "入职日期"])

In [9]:
df2 = df2[df2["岗位名称"].isin(["SPA师", "理疗师", "专家"])]

In [10]:
df2.reset_index(drop=True, inplace=True)

In [11]:
type(df2["入职日期"][0])

str

In [12]:
# df3预处理，保留有效变量，删除非技师
df3 = pd.DataFrame(df3, columns=["工号", "姓名", "岗位", "入职日期", "出勤", "点号合计", "销售业绩", "工资年月", "部门", "区域"])

In [13]:
df3[["姓名", "岗位", "部门", "区域"]] = df3[["姓名", "岗位", "部门", "区域"]].applymap(rm_space)
not_in_id =  df3[~df3["岗位"].isin(["SPA师", "理疗师", "专家"])]["工号"]
df3 = df3[~df3["岗位"].isin(not_in_id)]
df3.reset_index(drop=True, inplace=True)

In [14]:
df3.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域
0,171031039.0,王怀北,专家,2017-10-30 00:00:00,5.0,7.0,6200.0,2018-03-01,济南旅游路店,济南区域
1,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,29.0,1900.0,2018-12-01,济南旅游路店,济南区域
2,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,32.0,6300.0,2018-01-01,济南旅游路店,济南区域
3,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,83.0,30634.0,2018-10-01,济南旅游路店,济南区域
4,171031039.0,王怀北,专家,2017-10-30 00:00:00,10.0,1.0,0.0,2018-05-01,济南旅游路店,济南区域

In [15]:
# df3中有些人没有工号信息
df3[np.isnan(df3["工号"])].head(10)

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域
10330,NaN,高严,专家,2018-03-07 00:00:00,30.0,7.0,0.00,2018-04-01,济南东环店,济南区域
10331,NaN,郭春红,SPA师,2003-06-01 00:00:00,27.0,64.0,67080.00,2018-08-01,济南东环店,济南区域
10332,NaN,张苗苗,理疗师,2018-03-13 00:00:00,30.0,0.0,3000.00,2018-06-01,银川大阅城店,济南区域
10333,NaN,刘盼盼,SPA师,2016-10-14 00:00:00,30.0,57.0,48699.96,2018-07-01,济南奥体店,济南区域
10334,NaN,曹秀玲,专家,2018-08-22 00:00:00,13.0,7.0,1780.00,2019-03-01,济南区域济南解放桥店,济南区域
10335,NaN,孟丛丛,理疗师,2017-04-06 00:00:00,20.0,42.0,16880.00,2018-04-01,济南东环店,济南区域
10336,NaN,韩妮,理疗师,2018-05-01 00:00:00,29.0,6.0,0.00,2018-06-01,济南东环店,济南区域
10337,NaN,张雪,SPA师,2014-10-05 00:00:00,15.0,14.0,6021.00,2018-06-01,济南奥体店,济南区域
10338,NaN,王玉琴,理疗师,2016-12-06 00:00:00,30.0,96.0,80750.00,2018-06-01,天津鼓楼店,济南区域
10339,NaN,赵玲,理疗师,NaN,30.0,90.0,145800.10,2018-10-01,天津鼓楼店,济南区域

In [16]:
# 补全这些人的id，如果姓名、区域一致，部门与姓名相同且id值存在的条目之一至少是相同的。根据索引重新匹配。
# 仍然存在极端情况：同名、同区域、同店名，但不是同一人
# 防止极端情况，是否可以对比入职日期？不行：这些员工中有些人入职日期也是空值。
nan_id = df3[np.isnan(df3["工号"])]

In [17]:
# 空值员工索引
nan_id_list = nan_id.index.tolist()

In [18]:
# 发现没有id的员工基本是完全缺失信息的，暂时不解决

In [19]:
df1.head(2)

           店名         工号    岗位   姓名  点号合计     销售业绩
0  青岛区域城阳正阳路店  170320035    专家  管清芳  40.0  32090.5
1  青岛区域城阳正阳路店  170412001  SPA师  郭金琪  63.0  22375.0

In [20]:
df2.head(2)

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21

In [21]:
# (df2["员工号"].value_counts() > 1).sum() # raise...

In [22]:
(df1["工号"].value_counts() > 1).sum() # 上月业绩表存在重复员工，说明这些员工换门店了

122

In [23]:
len(df1), len(df2)

(4927, 4748)

In [24]:
# 根据df2，为df1添加“入职日期”、“区域”两列：merge函数
df11 = pd.merge(df1, df2, left_on="工号", right_on="员工号", how="inner")    ## 已重置了index

In [25]:
len(df11)

4280

In [26]:
len(df11[(df11["姓名_x"] == df11["姓名_y"])]) # raise：不一定需要，只要员工号是不变的，或者离职后不会给新的人，就行

4280

In [27]:
# df11[df11['员工号'].isna()]  # df1（上月业绩）中一些员工没有出现在df2（员工信息表），说明这些人已经离职了

In [28]:
df11.head(2)

,店名,工号,岗位,姓名_x,点号合计,销售业绩,二级部门,部门,员工号,岗位名称,姓名_y,入职日期
0,青岛区域城阳正阳路店,170320035,专家,管清芳,40.0,32090.5,青岛区域,城阳正阳路店,170320035,专家,管清芳,2018-05-17
1,青岛区域城阳正阳路店,170412001,SPA师,郭金琪,63.0,22375.0,青岛区域,城阳正阳路店,170412001,SPA师,郭金琪,2018-09-27

In [29]:
# 存在更换门店员工，是否要把这些员工各自当月的业绩相加？
(df11["工号"].value_counts() > 1).sum()

103

### 出现这种情况时，第一，要不要相加业绩？第二，岗位名称和区域部门按上月业绩表（原），还是最新员工信息表（新）算？

In [30]:
df11[df11["工号"] == 171020020] # 如该员工，青岛九水路点是他的新单位，点号合计为0也说明了这点

,店名,工号,岗位,姓名_x,点号合计,销售业绩,二级部门,部门,员工号,岗位名称,姓名_y,入职日期
197,青岛区域青岛九水路店,171020020,理疗师,胡维兰,0.0,13233.0,青岛区域,青岛九水路店,171020020,SPA师,胡维兰,2017-10-15
198,济南区域天津上林苑店,171020020,理疗师,胡维兰,18.0,0.0,青岛区域,青岛九水路店,171020020,SPA师,胡维兰,2017-10-15

In [31]:
# 该部分暂时不相加重复员工当月业绩(可能存在空值)，区域按新的信息算，岗位按老的信息算。
temp = df11["点号合计"].groupby(df11["员工号"]).sum()

In [32]:
df11[df11['点号合计'].isnull()]

,店名,工号,岗位,姓名_x,点号合计,销售业绩,二级部门,部门,员工号,岗位名称,姓名_y,入职日期
1364,北京万寿路店,170228033,SPA师,涂兴香,NaN,27576.66,北京区域,北京万寿路店,170228033,SPA师,涂兴香,2018-05-01
2119,济南区域天津鼓楼店,170409044,理疗师,党彦欣,NaN,59190.66,济南区域,天津鼓楼店,170409044,理疗师,党彦欣,2017-04-09
3387,南方区域合肥铂金店,190524021,理疗师,任红燕,NaN,0.00,南方区域,合肥潜山路店,190524021,理疗师,任红燕,2019-05-24
3899,中原区域 西安凤城一路店,171017010,专家,向富晶,NaN,95292.00,中原区域,西安凤城一路店,171017010,专家,向富晶,2017-10-17
3914,鲁南区域 莱芜万福店,171019028,SPA师,任俊涛,NaN,19449.96,鲁南区域,莱芜万福店,171019028,SPA师,任俊涛,2013-10-07

In [33]:
len(df11), len(temp)

(4280, 4098)

In [34]:
df111 = df11.drop(["工号", "姓名_x", "岗位"], axis=1)

In [35]:
df111.head(2)

           店名  点号合计     销售业绩  二级部门      部门        员工号  岗位名称 姓名_y        入职日期
0  青岛区域城阳正阳路店  40.0  32090.5  青岛区域  城阳正阳路店  170320035    专家  管清芳  2018-05-17
1  青岛区域城阳正阳路店  63.0  22375.0  青岛区域  城阳正阳路店  170412001  SPA师  郭金琪  2018-09-27

In [36]:
# 更改“姓名_x”为“姓名”
df111 = df111.rename(columns={'姓名_y': '姓名'})

In [37]:
# 此时存在重复员工, >=2，岗位为上月信息，二级部门（区域）为新的信息，除工号外其他信息可能存在空值
df111.head(2)

           店名  点号合计     销售业绩  二级部门      部门        员工号  岗位名称   姓名        入职日期
0  青岛区域城阳正阳路店  40.0  32090.5  青岛区域  城阳正阳路店  170320035    专家  管清芳  2018-05-17
1  青岛区域城阳正阳路店  63.0  22375.0  青岛区域  城阳正阳路店  170412001  SPA师  郭金琪  2018-09-27

### 目前发现，重复出现2-3次的，更换了门店，出现6次的是录入错误。到时候要根据情况判断

In [38]:
# 找出重复值，依次判断：如果店名或者点号合计或者销售业绩不同，则更换了门店，合并行并相加点号合计和销售业绩。店名暂时选一个，最后删除这一列；
# 如果全相同，说明是重复录入，仅保留一行即可。

In [39]:
(df111["员工号"].value_counts() > 1).sum() # 103员工出现过2次及以上

103

In [40]:
len(df111[df111["员工号"].duplicated()])   # 总共182个重复的值（如出现6次，则有5个重复的值）

182

In [41]:
df1111 = df111.drop_duplicates()  # 删除完全重复行（如5月业绩表重复6次员工，均是重复项）

In [42]:
len(df1111[df1111["员工号"].duplicated()])  # 总共87个重复的值

87

In [43]:
(df1111["员工号"].value_counts() > 1).sum()  # 84个员工出现过2次及以上

84

In [44]:
arr = df1111["员工号"].value_counts() > 1

In [45]:

arr[arr.values == True].keys()  # 这84个员工

Int64Index([190406018, 190410002, 181128040, 190401035, 190101003, 190310003,
            171112028, 190302003, 180926037, 170904004, 190412016, 171102021,
            190228030, 170822070, 190103026, 170731043, 190316013, 190316009,
            190402023, 190312016, 190308023, 190315017, 190405007, 180808026,
            170918050, 180918007, 171020020, 190114015, 190411027, 190520009,
            180404003, 190325025, 190428006, 180724017, 180927012, 190409019,
            180808024, 160225002, 180926006, 171124044, 171205029, 170626005,
            181126016, 170919009, 190420035, 180423002, 190216033, 190506029,
            181128058, 180303004, 190422003, 190422010, 170918054, 190422008,
            190506028, 180612004, 190117025, 181024010, 190517023, 180721001,
            190327030, 190506034, 190406029, 190311057, 190316015, 190320034,
            190307021, 170319001, 190312032, 190406003, 190307022, 190217007,
            180811001, 180727002, 190419017, 170413010, 170920001, 171012003,
            170917049, 171102020, 181228016, 181123011, 180814002, 180818019],
           dtype='int64')

In [46]:
# “店名”不再需要，先删除
del df1111["店名"]

In [47]:
df1111.head(2)

   点号合计     销售业绩  二级部门      部门        员工号  岗位名称   姓名        入职日期
0  40.0  32090.5  青岛区域  城阳正阳路店  170320035    专家  管清芳  2018-05-17
1  63.0  22375.0  青岛区域  城阳正阳路店  170412001  SPA师  郭金琪  2018-09-27

In [48]:
df11111 = df1111.groupby("员工号")[["点号合计", "销售业绩"]].sum()

In [49]:
df11111.reset_index(inplace = True)

In [50]:
df11111.head()

        员工号   点号合计       销售业绩
0   1703024  175.0  255024.44
1  16122101  105.0  189920.49
2  16122102   41.0   82261.00
3  16122104  116.0  235997.73
4  16122108   31.0   34213.00

In [51]:
# 根据df2，为df1添加“入职日期”、“区域”两列：merge函数,前面的合并可以考虑先不合并，结果是一样的
dfa = pd.merge(df11111, df2, left_on="员工号", right_on="员工号", how="inner")    ## 已重置了index

In [52]:
dfa.head()

        员工号   点号合计       销售业绩  二级部门     部门  岗位名称   姓名        入职日期
0   1703024  175.0  255024.44  北京区域  北京华彩店    专家  白社红  2018-09-07
1  16122101  105.0  189920.49  济南区域  济南和谐店  SPA师  陈新春  2016-12-21
2  16122102   41.0   82261.00  济南区域  济南和谐店  SPA师  王洪伟  2016-12-21
3  16122104  116.0  235997.73  济南区域  济南和谐店  SPA师  王珊珊  2016-12-22
4  16122108   31.0   34213.00  济南区域  济南和谐店  SPA师   慕薇  2019-04-01

In [53]:
len(dfa[dfa["员工号"].duplicated()])

0

In [54]:
(dfa["员工号"].value_counts() > 1).sum()

0

## step 3

In [55]:
# 为df111每个技师（非重复？）生成一组固定0-1随机数
import random

def sample_floats(low, high, k=1):
    """ Return a k-length list of unique random floats
        in the range of low <= x <= high
    """
    result = []
    seen = set()
    for i in range(k):
        x = random.uniform(low, high)
        while x in seen:
            x = random.uniform(low, high)
        seen.add(x)
        result.append(x)
    return result

In [56]:
random_list = sample_floats(0, 1, len(dfa))

In [57]:
len(random_list)

4098

In [58]:
dfa["随机数"] = random_list

In [59]:
dfa.head()

        员工号   点号合计       销售业绩  二级部门     部门  岗位名称   姓名        入职日期       随机数
0   1703024  175.0  255024.44  北京区域  北京华彩店    专家  白社红  2018-09-07  0.248709
1  16122101  105.0  189920.49  济南区域  济南和谐店  SPA师  陈新春  2016-12-21  0.781960
2  16122102   41.0   82261.00  济南区域  济南和谐店  SPA师  王洪伟  2016-12-21  0.088494
3  16122104  116.0  235997.73  济南区域  济南和谐店  SPA师  王珊珊  2016-12-22  0.680841
4  16122108   31.0   34213.00  济南区域  济南和谐店  SPA师   慕薇  2019-04-01  0.962043

## level 1

In [60]:
import datetime

# 返回当前月的前n个月的最后一天
def last_day(today: datetime, n: int):
    if n <= 0:
        raise ValueError("n must be bigger than 0")
    first = datetime.date(today.year, today.month, 1)
    last = datetime.date.max
    while n > 0:
        # 前一个月最后一天
        last = first - datetime.timedelta(days=1)
        # 前一个月第一天
        first = datetime.date(last.year, last.month, 1)
        n -= 1
    return last


# 返回当前月的前n个月的第一天
def first_day(today, n):
    if n <= 0:
        raise ValueError("n must be bigger than 0")
    # 前n个月的最后一天
    last = last_day(today, n)
    first = datetime.date(last.year, last.month, 1)
    return first


# 按一定标准，按“入职日期”划分群体（date类型可以比较）
def which_group(date_string):
    if date_string == '-':  # nan has been converted to '-'
        return 0
    current = datetime.datetime.strptime(date_string, '%Y-%m-%d').date()  # str转date
    today = datetime.date.today()
    if current >= first_day(today, 3):
        return 1
    elif last_day(today, 4) >= current >= first_day(today, 6):
        return 2
    elif last_day(today, 7) >= current >= first_day(today, 12):
        return 3
    elif last_day(today, 13) >= current:
        return 4

In [61]:
# date_string is string type
def is_senior(date_string):
    if date_string == '-':  # nan has been converted to '-'
        return True # ??
    current = datetime.datetime.strptime(date_string, '%Y-%m-%d').date()  # str转date
    today = datetime.date.today()
    if last_day(today, 13) >= current >= datetime.date(2017, 12, 1):
        return True
    else:
        return False

In [62]:
dfb = dfa.copy()            # avoid SettingWithCopyWarning
dfb["群体"] = dfb["入职日期"].map(which_group)
dfb = dfb[dfb["群体"].isin([1, 2, 3, 4])]

In [63]:
dfb.head()

,员工号,点号合计,销售业绩,二级部门,部门,岗位名称,姓名,入职日期,随机数,群体
0,1703024,175.0,255024.44,北京区域,北京华彩店,专家,白社红,2018-09-07,0.248709,3
1,16122101,105.0,189920.49,济南区域,济南和谐店,SPA师,陈新春,2016-12-21,0.781960,4
2,16122102,41.0,82261.00,济南区域,济南和谐店,SPA师,王洪伟,2016-12-21,0.088494,4
3,16122104,116.0,235997.73,济南区域,济南和谐店,SPA师,王珊珊,2016-12-22,0.680841,4
4,16122108,31.0,34213.00,济南区域,济南和谐店,SPA师,慕薇,2019-04-01,0.962043,1

In [64]:
region = dfb["二级部门"].unique()

In [65]:
# 创建文件夹
def mkdir(path):
    # 去除首尾空格
    path = rm_space(path)

    # 判断路径是否存在
    exists = os.path.exists(path)

    # 判断结果
    if not exists:
        # 如果不存在则创建目录
        os.makedirs(path)
        print("{} PATH:{}".format("创建成功!", path))
        return
    else:
        # 如果目录存在则不创建，并提示目录已存在
        print("{} PATH:{}".format("目录已存在!", path))
        return

In [1114]:
dir_path_of_result = "/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/5月筛选人员python"
mkdir(dir_path_of_result)
group_name = ["0-3个月", "4-6个月", "7-12个月", "1年以上"]

for r in region:
    # 组1-3: 先理疗师，再SPA师+专家
    filepath = dir_path_of_result + '/' + r + ".xlsx"
    writer = pd.ExcelWriter(filepath)
    for g in range(3):
        dfc = dfb[(dfb["二级部门"] == r) & (dfb["群体"] == (g+1))]
        dfc_1 = dfc[dfc["岗位名称"] == "理疗师"]
        dfc_2 = dfc[(dfc["岗位名称"] == "SPA师") | (dfc["岗位名称"] == "专家")]
        print(len(dfc_1) + len(dfc_2) == len(dfc))  # 人数是否对得上
        # 按业绩排序: 从高到低
        dfc_1 = dfc_1.sort_values(by="销售业绩", ascending=False)
        dfc_1.reset_index(drop=True, inplace=True)
        dfc_2 = dfc_2.sort_values(by="销售业绩", ascending=False)
        dfc_2.reset_index(drop=True, inplace=True)
        
        # 取中间1/3, 如果太小，则全选
        cutoff1 = len(dfc_1)//3  
        cutoff2 = len(dfc_2)//3
        if cutoff1 < 3:
            dfc_11 = dfc_1
        else:
            dfc_11 = dfc_1[cutoff1 : cutoff1*2+2]
        if cutoff2 < 6:
            dfc_22 = dfc_2
        else:
            dfc_22 = dfc_2[cutoff2 : cutoff2*2+4]
        dfc_11.reset_index(drop=True, inplace=True)
        dfc_22.reset_index(drop=True, inplace=True)
        # 理疗师选前5人，其他选前10人，注意考虑corner case: 人员不足，把该时间段所有的入职人员全部放入
        len1 = len(dfc_11)
        len2 = len(dfc_22)
        if len1 < 5:
            dfc_111 = dfc_11
        else:
            dfc_111 = dfc_11[:5]
        if len2 < 10:
            dfc_222 = dfc_22
        else:
            dfc_222 = dfc_22[:10]
        # 合并,并按随机数从大到小排序
        dfd = pd.concat([dfc_111, dfc_222])
        dfd = dfd.sort_values(by="随机数", ascending=False)
        # 整理排序变量名
        dfd = dfd.reindex(["员工号", "岗位名称", "姓名", "点号合计", "销售业绩", "二级部门", "部门", "入职日期", "随机数", "群体"], axis=1)
        dfd.to_excel(writer, sheet_name=group_name[g], index=None)
        
    # 组4: 不区分技师类别
    dfc = dfb[(dfb["二级部门"] == r) & (dfb["群体"] == 4)]
    dfc_1 = dfc[(dfc["岗位名称"] == "理疗师") | (dfc["岗位名称"] == "SPA师") | (dfc["岗位名称"] == "专家")]
    print(len(dfc_1) == len(dfc))  # 人数是否对得上
    # 按业绩排序: 从高到低
    dfc_1 = dfc_1.sort_values(by="销售业绩", ascending=False)
    dfc_1.reset_index(drop=True, inplace=True)
    # 取中间1/3
    cutoff1 = len(dfc_1)//3  # 可行吗？
    dfc_11 = dfc_1[cutoff1 : cutoff1*2]
    dfc_11.reset_index(drop=True, inplace=True)
    # 选前15人，注意考虑corner case: 人员不足，把该时间段所有的入职人员全部放入
    len1 = len(dfc_11)
    if len1 < 15:
        dfc_111 = dfc_11      
    else:
        dfc_111 = dfc_11[:15]
    # 按随机数从大到小排序
    dfd = dfc_111.sort_values(by="随机数", ascending=False)
    # 整理排序变量名
    dfd = dfd.reindex(["员工号", "岗位名称", "姓名", "点号合计", "销售业绩", "二级部门", "部门", "入职日期", "随机数", "群体"], axis=1)
    dfd.to_excel(writer, sheet_name=group_name[3], index=None)
    writer.save()
    writer.close()

目录已存在! PATH:/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/5月筛选人员python
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [1115]:
test = dfb[(dfb["二级部门"] == "鲁北区域") & (dfb["群体"] == 1)]

In [1116]:
test.head(2)

,员工号,点号合计,销售业绩,二级部门,部门,岗位名称,姓名,入职日期,随机数,群体
1146,171116015,8.0,1380.0,鲁北区域,东营西四路店,SPA师,吴晴晴,2019-05-29,0.638920,1
2264,180918028,10.0,2666.0,鲁北区域,东营金辰店,SPA师,徐波,2019-03-01,0.206429,1

## level 2

In [1117]:
# 对每个区进行如下操作
dfbb = dfb[dfb["二级部门"] == "北京区域"]
# a: 对整个dfb按业绩从高到低排序，选出前1/2
dfc = dfbb.sort_values(by="销售业绩", ascending=False)
dfc.reset_index(drop=True, inplace=True)
# 选出前1/2，cutoff太小怎么办？
cutoff = len(dfc)//2
if cutoff < 15:
    dfc_1 = dfc
else:
    dfc_1 = dfc[:cutoff]

In [1118]:
# b: 筛选老人组名单
dfc_11 = dfc_1.copy()            # avoid SettingWithCopyWarning
dfc_11["群体"] = dfc_1["入职日期"].map(is_senior)

In [1119]:
len(dfc_11[dfc_11["群体"]]["入职日期"])

56

In [1120]:
dfc_111 = dfc_11[dfc_11["群体"]]

In [1121]:
dfc_111.reset_index(drop=True, inplace=True)

In [1122]:
dfc_111.head(2)

,员工号,点号合计,销售业绩,二级部门,部门,岗位名称,姓名,入职日期,随机数,群体
0,170513005,106.0,446693.04,北京区域,北京鸟巢店,专家,杨贤芬,2018-05-01,0.835365,True
1,17022615,156.0,367050.51,北京区域,北京西客站店,专家,罗海燕,2018-05-29,0.858309,True

In [1123]:
sum(dfc_111['员工号'].duplicated())

0

In [1124]:
len(dfc_111)

56

In [1125]:
df3.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域
0,171031039.0,王怀北,专家,2017-10-30 00:00:00,5.0,7.0,6200.0,2018-03-01,济南旅游路店,济南区域
1,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,29.0,1900.0,2018-12-01,济南旅游路店,济南区域
2,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,32.0,6300.0,2018-01-01,济南旅游路店,济南区域
3,171031039.0,王怀北,专家,2017-10-30 00:00:00,30.0,83.0,30634.0,2018-10-01,济南旅游路店,济南区域
4,171031039.0,王怀北,专家,2017-10-30 00:00:00,10.0,1.0,0.0,2018-05-01,济南旅游路店,济南区域

In [1126]:
# c: 以dfc_111“员工号”为基准，筛选出df3中的这部分人
df4 = df3[df3["工号"].isin(dfc_111["员工号"])]

In [1127]:
len(df4), len(df4["工号"].unique())

(850, 56)

In [1128]:
df4 = df4.sort_values(by="工号")
df4.reset_index(drop=True, inplace=True)

In [1129]:
# df4中有些员工的入职日期有变化，而且因为录入原因，仍然存在2017年12月1日以前入职的，所以再做一次筛选
# 后续有了维护表，就不用再做一次筛选了
df4.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域
0,17022615.0,罗海燕,专家,2016-09-01 00:00:00,19.0,47.0,36481.00,2018-05-01,北京西大望路店,北京区域
1,17022615.0,罗海燕,专家,2018-05-01 00:00:00,15.0,43.0,98720.00,2018-11-01,北京西客站店,北京区域
2,17022615.0,罗海燕,专家,2018-05-01 00:00:00,30.0,46.0,19983.00,2018-07-01,北京西客站店,北京区域
3,17022615.0,罗海燕,专家,2018-05-01 00:00:00,28.0,72.0,68933.32,2019-01-01,北京西客站店,北京区域
4,17022615.0,罗海燕,专家,2018-05-01 00:00:00,30.0,57.0,63386.66,2018-09-01,北京西客站店,北京区域

In [1130]:
df4.fillna('-', inplace=True)   # 放在最前面，直接对所有nan值进行转换

In [1131]:
# to string
def to_date(datetime):
    if datetime == '-':
        return '-'
    else:
        return str(datetime.date())

In [1132]:
# 先将“入职日期”和“工资年月”转换成datetime.date: date方法
df4["入职日期"] = df4["入职日期"].map(to_date)
df4["工资年月"] = df4["工资年月"].map(to_date)

In [1133]:
df4["入职日期"][0]

'2016-09-01'

In [1134]:
# b: 筛选老人组名单
df4a = df4.copy()            # avoid SettingWithCopyWarning
df4a["群体"] = df4a["入职日期"].map(is_senior)

In [1135]:
df4a.head(2)

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,群体
0,17022615.0,罗海燕,专家,2016-09-01,19,47,36481,2018-05-01,北京西大望路店,北京区域,False
1,17022615.0,罗海燕,专家,2018-05-01,15,43,98720,2018-11-01,北京西客站店,北京区域,True

### 删除df4a中“入职日期”不在老人组范围内的个体。一个人有不同的入职日期，有的符合有的不符合这个范围。如何清理retire的员工？

In [1136]:
# 增加“第n月工作”：初步用df4a表中的工资年月-入职日期。alternat：用dfc_111中的入职年月为基准？
# 计算n函数
def month_delta(start_date: str, end_date: str):
    """
    返回 end_date 和 start_date 的月份差，只初略比较年-月
        :param start_date:
        :param end_date:
        :return:  month_delta  int
    """
    if (start_date == '-') or (end_date == '-'):
        return  # 返回空值，确保后续组内排序可行
    date1 = datetime.datetime.strptime(start_date, '%Y-%m-%d').date()  # str转date
    date2 = datetime.datetime.strptime(end_date, '%Y-%m-%d').date()  # str转date
    flag = True
    if date1 > date2:
        date1, date2 = date2, date1
        flag = False
    year_diff = date2.year - date1.year
    end_month = year_diff * 12 + date2.month
    delta = end_month - date1.month
    return -delta if flag is False else delta

In [1137]:
df4b = df4a.copy()  # avoid SettingWithCopyWarning
df4b["第n月工作"] = df4b.apply(lambda row: month_delta(row["入职日期"], row["工资年月"]), axis=1)

In [1138]:
 df4b = df4b.reindex(["工号", "姓名", "区域", "部门", "岗位", "出勤", "点号合计", "销售业绩",  "工资年月", "入职日期", "第n月工作", "群体"], axis=1)

In [1139]:
# 分组排序：对每个员工的”第n月工作“按从小到大进行排序
# df4c = df4b.groupby("工号").apply(lambda x: x.sort_values("第n月工作"))

In [1140]:
df4b.reset_index(drop=True, inplace=True)

In [1141]:
df4b.head()

,工号,姓名,区域,部门,岗位,出勤,点号合计,销售业绩,工资年月,入职日期,第n月工作,群体
0,17022615.0,罗海燕,北京区域,北京西大望路店,专家,19,47,36481,2018-05-01,2016-09-01,20.0,False
1,17022615.0,罗海燕,北京区域,北京西客站店,专家,15,43,98720,2018-11-01,2018-05-01,6.0,True
2,17022615.0,罗海燕,北京区域,北京西客站店,专家,30,46,19983,2018-07-01,2018-05-01,2.0,True
3,17022615.0,罗海燕,北京区域,北京西客站店,专家,28,72,68933.3,2019-01-01,2018-05-01,8.0,True
4,17022615.0,罗海燕,北京区域,北京西客站店,专家,30,57,63386.7,2018-09-01,2018-05-01,4.0,True

In [1142]:
# 为该区域员工(df4c)成一组随机数（还是对所有区域所有员工一次性生成随机数？）
unique_id_list = df4b["工号"].unique()

In [1143]:
df_id_rand = pd.DataFrame([unique_id_list, sample_floats(0, 1, len(unique_id_list))], index=["工号", "随机数"]).T

In [1144]:
df_id_15 = df_id_rand.sort_values("随机数", ascending=False)[:15]

In [1145]:
df_id_15.reset_index(drop=True, inplace=True)

In [1146]:
df_id_15

             工号       随机数
0   180318027.0  0.996232
1   180225022.0  0.994132
2   170824003.0  0.975500
3   171020003.0  0.936414
4   161103007.0  0.930310
5   160520001.0  0.926935
6   180101013.0  0.907846
7   171229020.0  0.885355
8   180228004.0  0.864707
9   190321013.0  0.855918
10   17031930.0  0.843459
11  180318004.0  0.809498
12  180404017.0  0.784082
13   17022615.0  0.782254
14  170414013.0  0.763893

In [1147]:
# merge
df4c = pd.merge(df4b, df_id_15, on="工号")    ## 已重置了index

In [1148]:
df4c.head()

,工号,姓名,区域,部门,岗位,出勤,点号合计,销售业绩,工资年月,入职日期,第n月工作,群体,随机数
0,17022615.0,罗海燕,北京区域,北京西大望路店,专家,19,47,36481,2018-05-01,2016-09-01,20.0,False,0.782254
1,17022615.0,罗海燕,北京区域,北京西客站店,专家,15,43,98720,2018-11-01,2018-05-01,6.0,True,0.782254
2,17022615.0,罗海燕,北京区域,北京西客站店,专家,30,46,19983,2018-07-01,2018-05-01,2.0,True,0.782254
3,17022615.0,罗海燕,北京区域,北京西客站店,专家,28,72,68933.3,2019-01-01,2018-05-01,8.0,True,0.782254
4,17022615.0,罗海燕,北京区域,北京西客站店,专家,30,57,63386.7,2018-09-01,2018-05-01,4.0,True,0.782254

In [1149]:
len(df4c["随机数"].unique())

15

In [1150]:
# 每个员工按“第n月工作”从小到大排序
df4d = df4c.groupby("随机数").apply(lambda x: x.sort_values("第n月工作"))

In [1151]:
df4d.reset_index(drop=True, inplace=True)

In [1152]:
# 【重要】已有excel中增加新sheet，并在该sheet中写入DataFrame     
from openpyxl import load_workbook
def to_existing_excel(df, file_path, sheet_name):
    book = load_workbook(file_path)
    writer = pd.ExcelWriter(file_path, engine='openpyxl')
    writer.book = book
    df.to_excel(writer, sheet_name, index=None)
    writer.save()
    writer.close()

In [1153]:
df4d.head()

,工号,姓名,区域,部门,岗位,出勤,点号合计,销售业绩,工资年月,入职日期,第n月工作,群体,随机数
0,170414013.0,李春蓉,北京区域,呼市海亮店,理疗师,17,14,2980,2018-08-01,2018-08-17,0.0,False,0.763893
1,170414013.0,李春蓉,北京区域,呼市海亮店,理疗师,30,17,2000,2018-09-01,2018-08-17,1.0,False,0.763893
2,170414013.0,李春蓉,北京区域,呼市海亮店,理疗师,30,20,6000,2018-10-01,2018-08-17,2.0,False,0.763893
3,170414013.0,李春蓉,北京区域,呼市海亮店,理疗师,30,26,7750,2018-11-01,2018-08-17,3.0,False,0.763893
4,170414013.0,李春蓉,北京区域,呼市海亮店,理疗师,30,16,1000,2018-12-01,2018-08-17,4.0,False,0.763893

In [1154]:
# 老人组long， 对df4d 随机数从大到小排序, 同时不影响“第n月工作”从小打到排序:用merge sort 具有稳定性
df4e = df4d.sort_values(by="随机数", kind="mergesort", ascending=False)

In [1155]:
df4e.reset_index(drop=True, inplace=True)

In [1156]:
df4e.head()

,工号,姓名,区域,部门,岗位,出勤,点号合计,销售业绩,工资年月,入职日期,第n月工作,群体,随机数
0,180318027.0,王成玲,北京区域,北京西客站店,专家,14,8,17452,2018-03-01,2018-03-18,0.0,True,0.996232
1,180318027.0,王成玲,北京区域,北京西客站店,专家,30,49,31399,2018-04-01,2018-03-18,1.0,True,0.996232
2,180318027.0,王成玲,北京区域,北京西客站店,专家,30,51,52412,2018-05-01,2018-03-18,2.0,True,0.996232
3,180318027.0,王成玲,北京区域,北京西客站店,专家,30,47,43384,2018-06-01,2018-03-18,3.0,True,0.996232
4,180318027.0,王成玲,北京区域,北京西客站店,专家,30,52,56281,2018-07-01,2018-03-18,4.0,True,0.996232

In [1157]:
# 老人组df
dfc_1111 = dfc_111.drop("随机数", axis=1)
df4f = pd.merge(dfc_1111, df_id_15, left_on="员工号", right_on="工号", how="inner")

In [1158]:
df4f.sort_values("随机数", ascending=False, inplace=True)

In [1159]:
del df4f["工号"]

In [1160]:
df4f = df4f.reindex(["员工号", "岗位名称", "姓名", "点号合计", "销售业绩", "二级部门", "部门", "入职日期", "随机数", "群体"], axis=1)

In [1161]:
df4f.reset_index(drop=True, inplace=True)

In [1162]:
df4e["姓名"].unique()

array(['王成玲', '霍慧娟', '丁国杰', '王伟', '高颖', '陈波', '武藏', '李春花', '刘慧', '孙娜',
       '吕晓燕', '陈风云', '黄明媚', '罗海燕', '李春蓉'], dtype=object)

In [1163]:
import numpy as np
np.array(df4f["姓名"])

array(['王成玲', '霍慧娟', '丁国杰', '王伟', '高颖', '陈波', '武藏', '李春花', '刘慧', '孙娜',
       '吕晓燕', '陈风云', '黄明媚', '罗海燕', '李春蓉'], dtype=object)

In [1164]:
test_path = "/Users/gongchenyin/PycharmProjects/ra/Peer-Filter/src/5月筛选人员python/北京区域.xlsx" 
to_existing_excel(df4f, test_path, "老人组")
to_existing_excel(df4e, test_path, "老人组long")

In [108]:
dict1 = [{"a": 1, "b": 2, "c": 2}, {"a": 4, "b": 5, "c": 6}, {"a": 7, "b": 8, "c": 9}]

In [ ]:
dict2 = [{"a": 1, "b": 2, "c": 2}, {"d": 4, "e": 5, "f": 6}, {"g": 7, "h": 8, "i": 9}]

In [109]:
pd.DataFrame(dict1)

   a  b  c
0  1  2  2
1  4  5  6
2  7  8  9